* {
  box-sizing: border-box;
  margin: 0;
}
/* Rubik Font */
@font-face {
  font-family: "Rubik Black";
  src: url("../fonts/Rubik-Black.ttf");
  src: url("../fonts/Rubik-Black.ttf") format("embedded-opentype"),
    url("../fonts/Rubik-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik-Bold.ttf");
  src: url("../fonts/Rubik-Bold.ttf") format("embedded-opentype"),
    url("../fonts/Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik Regular";
  src: url("../fonts/Rubik-Regular.ttf");
  src: url("../fonts/Rubik-Regular.ttf") format("embedded-opentype"),
    url("../fonts/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik Italic";
  src: url("../fonts/Rubik-Italic.ttf");
  src: url("../fonts/Rubik-Italic.ttf") format("embedded-opentype"),
    url("../fonts/Rubik-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik Light";
  src: url("../fonts/Rubik-Light.ttf");
  src: url("../fonts/Rubik-Light.ttf") format("embedded-opentype"),
    url("../fonts/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik Medium";
  src: url("../fonts/Rubik-Medium.ttf");
  src: url("../fonts/Rubik-Medium.ttf") format("embedded-opentype"),
    url("../fonts/Rubik-Medium.ttf") format("truetype");
}

/* Inter Font  */
@font-face {
  font-family: "Inter Black";
  src: url("../fonts/Inter-Black.otf");
  src: url("../fonts/Inter-Black.otf") format("embedded-opentype"),
    url("../fonts/Inter-Black.otf") format("truetype");
}
@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.otf");
  src: url("../fonts/Inter-Bold.otf") format("embedded-opentype"),
    url("../fonts/Inter-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter-Regular.otf");
  src: url("../fonts/Inter-Regular.otf") format("embedded-opentype"),
    url("../fonts/Inter-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Inter Italic";
  src: url("../fonts/Inter-Italic.otf");
  src: url("../fonts/Inter-Italic.otf") format("embedded-opentype"),
    url("../fonts/Inter-Italic.otf") format("truetype");
}
@font-face {
  font-family: "Inter Light";
  src: url("../fonts/Inter-Light.otf");
  src: url("../fonts/Inter-Light.otf") format("embedded-opentype"),
    url("../fonts/Inter-Light.otf") format("truetype");
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.otf");
  src: url("../fonts/Inter-Medium.otf") format("embedded-opentype"),
    url("../fonts/Inter-Medium.otf") format("truetype");
}
/* DM Sans Font */
@font-face {
  font-family: "DM Sans Bold";
  src: url("../fonts/DMSans-Bold.ttf");
  src: url("../fonts/DMSans-Bold.ttf") format("embedded-opentype"),
    url("../fonts/DMSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans BoldItalic";
  src: url("../fonts/DMSans-BoldItalic.ttf");
  src: url("../fonts/DMSans-BoldItalic.ttf") format("embedded-opentype"),
    url("../fonts/DMSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans Italic";
  src: url("../fonts/DMSans-Italic.ttf");
  src: url("../fonts/DMSans-Italic.ttf") format("embedded-opentype"),
    url("../fonts/DMSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans Medium";
  src: url("../fonts/DMSans-Medium.ttf");
  src: url("../fonts/DMSans-Medium.ttf") format("embedded-opentype"),
    url("../fonts/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans MediumItalic";
  src: url("../fonts/DMSans-MediumItalic.ttf");
  src: url("../fonts/DMSans-MediumItalic.ttf") format("embedded-opentype"),
    url("../fonts/DMSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans Regular";
  src: url("../fonts/DMSans-Regular.ttf");
  src: url("../fonts/DMSans-Regular.ttf") format("embedded-opentype"),
    url("../fonts/DMSans-Regular.ttf") format("truetype");
}
/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
