@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin active-btn {
  background: #ffd60a;
  border-radius: 8px;
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: black;
}

@mixin input-field {
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  padding: 21px 27px;
  display: flex;
  align-items: center;
  gap: 19px;
  input {
    background: transparent;
    border: none;
    outline: none;
    width: 50vw;
  }
}

@mixin select-field {
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  padding: 21px 27px;
  display: flex;
  align-items: center;
  gap: 19px;
  select {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
  }
}

@mixin help-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 11px 6px;
    background: #D9D9D9;
    border-radius: 10px;
    select{
        background: transparent;
        border: none;
        outline: none;
        width: 62px;
    }
}

// Emeka's Dj Mixins

@mixin input-form {
  .input {
    label {
      color: #000;
      font-size: 15px;
    }
    .input-form {
      padding: 1rem 0rem;
      svg {
        position: absolute;
        margin: 1rem 1rem;
        font-size: 20px;
      }
      input {
        height: 55px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #b0b0b0;
        outline: none;
        padding: 1rem 2.5rem;
      }
      select {
        height: 55px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #b0b0b0;
        outline: none;
        padding: 1rem 2.5rem;
        margin-bottom: 2rem;
        background-color: #fff;
        option {
          border-radius: 8px;
        }
      }
    }
  }
}

@mixin input-box {
  input {
    height: 55px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #b0b0b0;
    outline: none;
    padding: 1rem 2.5rem;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin form-header {
  p {
    font-size: 18px;
    font-family: "Rubik Medium";
    margin: 2rem 0rem;
  }
}
